{{> head}}
{{> navbar}}
<main>
   <div class="wrapper">
      <div class="hero">
          {{#author}}
            {{#if avatar}}
               <img src="{{avatar}}" alt="{{name}}" class="hero__avatar">
            {{/if}}
            <h1>{{name}} <sup>({{postsNumber}})</sup></h1>
            {{#if description}}
               <p>
                  {{description}}
               </p>
            {{/if}}
         {{/author}}
      </div>
      <div class="{{#checkIf @config.custom.layoutAuthor '==' "grid"}}l-grid {{@config.custom.layoutAuthorGrid}} {{else}}l-masonry {{@config.custom.layoutAuthorMasonry}}{{/checkIf}}">
         {{#each posts}}
            <article class="c-card{{#isFeatured}} c-card--featured{{/isFeatured}}">
               {{#if @config.custom.cardsImage}}
                  {{#featuredImage}}
                     {{#if url}}
                        <a href="{{../url}}" class="c-card__image">
                           <img
                              src="{{url}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                              {{/if}}
                              {{ lazyload "lazy" }}
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}">
                        </a>
                     {{/if}}
                  {{/featuredImage}}
               {{/if}}
               <div class="c-card__wrapper">
                  <header class="c-card__header">
                     {{#if @config.custom.cardsTag}}
                        {{#if mainTag}}
                           <div class="c-card__tag">
                              <a href="{{ mainTag.url }}">{{ mainTag.name }}</a>
                           </div>
                        {{/if}}
                     {{/if}}
                     <h2 class="c-card__title">
                        <a href="{{url}}" class="invert">
                           {{title}}
                        </a>
                     </h2>
                  </header>
                  {{#if @config.custom.cardsExcerpt}}
                     {{#if hasCustomExcerpt}}
                        <div class="c-card__text">{{{ excerpt }}}</div>
                     {{else}}
                        <p class="c-card__text">{{{ excerpt }}}</p>
                     {{/if}}
                  {{/if}}
                  {{#checkIfAny @config.custom.cardsDate @config.custom.cardsComments}}
                     <footer class="c-card__meta">
                        {{#if @config.custom.cardsDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                        {{#if @config.custom.cardsComments}}
                           <div class="c-card__comments">
                              <svg aria-hidden="true">
                                 <title>{{ translate 'common.comments' }}</title>
                                 <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#comments"/>
                              </svg>
                              <a
                                 href="{{url}}#comments"
                                 data-disqus-identifier="{{id}}"
                                 class="invert"
                                 rel="nofollow">
                                 0
                              </a>
                           </div>
                        {{/if}}
                     </footer>
                  {{/checkIfAny}}
               </div>
            </article>
         {{/each}}
      </div>
      {{> pagination}}
   </div>
</main>
{{> footer}}
